<h3 id="motto">the best bits of videos around the internet</h3>

<div id="search-super-box">
  <%= form_tag(quotes_path, :method => "get", id: "search-form") do %>
      <div class="search-box">
        <%= text_field_tag :search, params[:search], placeholder: "Search", id: "search-input" %><!--
        --><button id="search-icon" class="mybtn"><i class="fa fa-search"></i></button>
      </div>
  <% end %>
</div>

<%= render partial: "shared/youtube/display_quotes", locals: {quotes: @quotes} %>