<h2>About breviddy</h2>
<h4>My quest is to kill the gif.</h4>
<p>And I don't mean convert gifs to soundless webm videos with even lower quality.</p>
<p>Since I figure 95% of gifs come from YouTube videos, why not just loop sections of the videos?</p><br>
<h4>Why breviddy is better than gifs:</h4>
<ul>
    <li>If you want to see more, the source video is easily accessible.</li>
    <li>The video hasn't suffered from extra compression or conversion, so it is higher quality.
    <li>The video bits have audio (if you want it).</li>
    <li><%= link_to 'Making a breviddy video bit', 'bits/new' %> is much easier than making a gif.</li>
</ul>
<h3>RIP GIFS 1987 - <%= Time.now.year %></h3>

