<link rel="stylesheet" href="/slider/css/ion.rangeSlider.css" />
<link rel="stylesheet" href="/slider/css/ion.rangeSlider.skinHTML5.css" />
<script type="text/javascript" src="/slider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>

<h2>Feedback</h2>
<p>Feel free to skip questions. I won't judge.</p>
<br>
<%= render 'form' %>

<%= link_to 'Back', :back %>
