<h3 id="motto">The best bits of videos around the internet</h3>

<div id="search-super-box">
  <%= form_tag(bits_path, :method => "get", id: "search-form") do %>
      <div class="search-box">
        <%= text_field_tag :search, params[:search], placeholder: "Search", id: "search-input" %><!--
        --><button id="search-icon" class="mybtn"><i class="fa fa-search"></i></button>
      </div>
  <% end %>
</div>

<div id="bits-super-box">
  <div id="bits-box" data-no-turbolink>
        <%= render @bits %>
  </div>
</div>

<script type="text/javascript">
  /*
    window.isYTAPILoaded = false;
    function onYouTubePlayerAPIReady() {
        window.isYTAPILoaded = true;
        while (window.player_functions.length) {
            window.player_functions.shift().call();
        }
    }
    */
</script>

<div id="infinite-scrolling">
    <%= will_paginate %>
</div>

