<h3 id="motto">The best bits of videos around the internet</h3>

<div id="search-super-box">
  <%= form_tag('/search', :method => "get", id: "search-form") do %>
      <div class="search-box">
        <%= text_field_tag :search, params[:search], placeholder: "Search", id: "search-input" %><!--
        --><button id="search-icon" class="mybtn"><i class="fa fa-search"></i></button>
      </div>
  <% end %>
</div>

<div id="bits-super-box">
  <div id="bits-box" data-no-turbolink>
    <%= render @bits %>
  </div>
</div>


<span id="top-link-block" class="hidden">
    <a href="#top" id="top-button"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
      <i class="fa fa-arrow-up"></i>
    </a>
</span>

<script type="text/javascript">
    if ( ($(window).height() + 100) < $(document).height() ) {
        $('#top-link-block').removeClass('hidden').affix({
            // how far to scroll down before link "slides" into view
            offset: {top:800}
        });
    }
</script>

