// Place all the styles related to the bits controller here.
// They will automatically be included in application.css.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
$secondary-color: #34344a;
$very-light: #fbf4f4;
#upper-spacer {
  height: 100px;
}
#url-info-box {
  text-align: center;
}
#url-box {
  text-align: center;
}
#seek-slider-box {
  margin-bottom: -55px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
#cut-slider-box {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.irs-slider.from {
  background: image-url('bracket.png') no-repeat center !important;
  height: 35px;
  width: 9px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: -3px;
}
.irs-to, .irs-from {
  background-color: #34344a !important;
}
.irs-slider.to {
  background: image-url('bracket.png') no-repeat center !important;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 9px;
  height: 35px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: -3px;
  margin-left: -3px;
}
.irs-bar {
  border-color: #A63131 !important;
  background: #A63131 !important;
}
.irs-slider.single {
  width: 25px;
  height: 25px;
}
.irs-single {
  background: $secondary-color !important;
}
#super-box {
  text-align: center;
}
#url-instructions {
  font-family: 'Cabin', sans-serif;
  color: $secondary-color;
}
#url-input {
  font-size: 1.5em;
  width: 600px;
  border-radius: 5px;
  outline: none;
  border-top: 2px solid #bbb7b5;
  border-left: 2px solid #bbb7b5;
  border-bottom: 1px solid #ccc8c6;
  border-right: 1px solid #ccc8c6;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
}
#trim-instructions {
  font-family: 'Cabin', sans-serif;
  color: $secondary-color;
}
#control-buttons-box {
  display: inline-block;
  vertical-align: bottom;
  background-color: $secondary-color;
  padding: 4px 6px;
  border-radius: 4px;
  margin-right: 20px;
}
#toggle-play-button {
  display: inline-block;
  background-color: $secondary-color;
  color: $very-light;
  border: none;
  border-right: 1px solid #4d4e59;
  outline: none;
  width: 38px;
  padding-right: 10px;
  :hover {
    color: #b1b2b9;
  }
}
#toggle-mute-button {
  display: inline-block;
  background-color: $secondary-color;
  color: $very-light;
  border: none;
  outline: none;
  width: 41px;
  padding-left: 9px;
}
#toggle-mute-button:hover i {
  color: #b1b2b9;
}
#sliders-box {
  display: inline-block;
}
.fa-close {
  position: relative;
  top: -0.33em;
}
i.mute-bit-icon {
  top: -0.37em;
}
#caption-input {
  display: none;
  width: 450px;
  background-color: $secondary-color;
  text-align: center;
  padding: 10px 5px;
  color: #fff;
  font-family: 'Cabin', sans-serif;
  font-size: 1.6em;
  border: none;
  outline: none;
}
#save-bit-button, #return-home-button, #delete-bit-button {
  font-family: 'Cabin';
  padding: 10px 60px;
  width: auto;
  margin: -10px auto 0 auto;
  background: linear-gradient(#606086, $secondary-color);
  color: $very-light;
  border: none !important;
  border-radius: 5px;
  font-size: 1.3em;
  outline: none !important;
  display: inline-block;
}
#save-bit-button:hover, #return-home-button:hover {
  background: linear-gradient($secondary-color, #606086);
  outline: none !important;
}
.underline {
  text-decoration: underline;
}
#bits-super-box {
  text-align: center;
}
#bits-box {
}
.bit-box {
  background-color: #fbf4f4;
  padding: 14px;
  border-radius: 0.2em;
  display: inline-block;
  margin: 0 0 2em 0;
  position: relative;
}
.mute-bit-button {
  overflow: visible;
  font-size: 16px;
  background: none;
  border: none;
  color: #fff;
  opacity: 0;
  text-shadow: #46484b 1px 1px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 18px;
  top: 13px;
}
.mute-bit-button:hover {
  opacity: 1;
  color: #fff;
}
.video--mute-box {
  text-align: left;
}
.caption-box {
  width: 450px;
  background-color: $secondary-color;
  display: inline-block;
  text-align: center;
  padding: 10px 5px;
  color: #fff;
  font-family: 'Cabin', sans-serif;
  font-size: 1.6em;
}
.ytplayer {
  width: 450px;
  height: 300px;
}
.bit-button-box {
  margin-top: 0.5em;
  //border-top: 2px solid #ccc5c5;
  //border-bottom: 2px solid #ccc5c5;
  border-radius: 0.1em;
}
.bit-button {
  height: 2.8em;
  color: #333333;
  border-radius: 0;
  background-color: $very-light;
  border: none;
  border-left: 2px solid #ccc5c5;
  border-top: 2px solid #ccc5c5;
  border-bottom: 2px solid #ccc5c5;
  outline: none;
}
.bit-button:hover .bit-text {
  text-decoration: underline;
}
.bit-button:active {
  outline: none;
}

#full-video-icon {
  font-stretch: expanded;
}
.play-full-button {
  width: 30%;
  img {
    height: 12px;
    padding-bottom: 2px;
  }
}
.source-button {
  width: 25%;
}
.user-button {
  width: 25%;
  overflow: hidden;
  img {
    height: 15px;
    padding-bottom: 2px;
  }
}
.share-button {
  width: 20%;
  border-right: 2px solid #ccc5c5;
}
.hidden {
  display: none;
}
#top-button {
  text-align: center;
  font-size: 45px;
  color: $secondary-color;
  background-color: $very-light;
  border-radius: 5px;
  //box-shadow: 2px 2px 5px #000000;
  width: 75px;
  padding: 0;
  opacity: 0.7;
  display: inline-block;

}
#top-button:hover {opacity: 1;
  opacity: 1;
}
#top-link-block.affix-top {
  position: absolute; /* allows it to "slide" up into view */
  bottom: -770px; /* negative of the offset - height of link element */
  right: 30px; /* padding from the left side of the window */
}
#top-link-block.affix {
  position: fixed; /* keeps it on the bottom once in view */
  bottom: 30px; /* height of link element */
  right: 30px; /* padding from the left side of the window */
}
.alert {
  z-index: 1;
}
/*
 INDEX
*/
#about-super-box {
  text-align: center;
}
#about-box {
  background-color: #fbf4f4;
  color: #34344a;
  padding: 7px 65px 10px 40px;
  border-radius: 4px;
  display: inline-block;
  text-align: left;
  margin: -10px 0 0 0;
  font-family: 'Cabin', sans-serif;
}
#search-super-box {
  text-align: center;
  display: none;
}
#search-box {
  display: inline-block;
}
#search-input {
  border: 2px solid #868898;
  border-radius: 0.4em;
  padding: 0 0.7em;
  outline: none;
  width: 478px;
  height: 2em;
  font-size: 1.2em;
  background-color: #fbf4f4;
}
#search-icon {
  position: absolute;
  font-size: 1.5em;
  overflow: visible;
  margin-left: -1.55em;
  /*margin-top: 0.36em;*/
  color: $secondary-color;
  border: none;
  background: none;
}