$primary-color: #a63131;
$secondary-color: #34344a;
$dark-grey: #515459;
$very-light: #fbf4f4;
$banner-button-border-radius: 0.3em;
body {
  background: url('/assets/brushed.png');
}
#banner { /* height 4.6em */
  width: 100%;
  text-align: center;
  background-color: $primary-color;
  padding: 0.7em 0;
  position: relative;
  z-index: 2;
}
#banner-inner {
  display: inline-block;
}
#submit-bit-button {
  display: inline-block;
  vertical-align: top;

}
#logo-box { /* height 3.2em */
  display: inline-block;
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 0.2em;
  text-align: center;

  img {
    height: 3em;
    min-width: 6em;
    min-height: 1em;
  }
}
$banner-button-height: 2.4em;
$banner-button-margin: 0.4em 0;
$banner-button-padding-left: 0.8em;
$banner-button-padding-right: 0.8em;

#submit-bit-button {

  display: inline-block;

  height: $banner-button-height;
  padding: 0;
  padding-left: $banner-button-padding-left;
  padding-right: $banner-button-padding-right;

  border-radius: $banner-button-border-radius;
  border-bottom: 0px;
  border-right: 0px;
  color: $secondary-color;
  background: $very-light;

  border-top: 0.1em solid #aaaaaa;
  margin: $banner-button-margin;
}
#account-wrapper {
  display: inline-block;
  vertical-align: top;

  #profile-button {
    display: inline-block;
    background-color: #fbf4f4;
    height: $banner-button-height;
    border-top: 0.1em solid #aaaaaa;
    border-radius: $banner-button-border-radius;
    box-sizing: border-box;
    margin: $banner-button-margin;
    padding-left: $banner-button-padding-left;
    padding-right: $banner-button-padding-right;
    i {
      color: $secondary-color;
    }
  }
  #account-dropdown {
    position:absolute;
    background: $very-light;
  }

  #logout-button {

  }
  #sign-up-button {
    display: inline-block;
    height: $banner-button-height;
    padding: 0 0.8em;
    padding-left: $banner-button-padding-left;
    padding-right: $banner-button-padding-right;
    border-radius: $banner-button-border-radius 0 0 $banner-button-border-radius;
    box-sizing: border-box;
    border-bottom: 0px;
    border-right: 0px;
    color: $secondary-color;
    background-color: #fbf4f4;
    border-top: 0.1em solid #aaaaaa;
    margin: $banner-button-margin;
  }
  #login-button {
    background-color: #fbf4f4;
    display: inline-block;
    height: $banner-button-height;
    padding-left: $banner-button-padding-left;
    padding-right: $banner-button-padding-right;
    border-top: 0.1em solid #aaaaaa;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 0 $banner-button-border-radius $banner-button-border-radius 0;
    border-left: 0.1em solid #aaaaaa;
    border-bottom: 0px;
    border-right: 0px;
    color: $secondary-color;
    margin: $banner-button-margin;
  }

}
.alert span {
  cursor: pointer;
  float: right;
}
h3#motto {
  text-align: center;
  color: $secondary-color;
  font-family: 'Cabin','sans-serif';
  margin: 0.8em 0 1em;
  padding: 0;
}
.banner-button {
}
.banner-button-selected {
  background: linear-gradient(#f5f1ef, #d5d1cf) !important;
  border-left-color: #d5d1cf;
}
.banner-button-selected:active {
  border-left: 2px solid #d5d1cf;
  background: linear-gradient(#d5d1cf, #f5f1ef) !important;
}
.mybtn:focus {
  outline: none !important;
}
#search-super-box {
  text-align: center;
}
#search-box {
  display: inline-block;
}
#search-input {
  border: 2px solid #868898;
  border-radius: 0.4em;
  padding: 0 0.7em;
  outline: none;
  width: 478px;
  height: 2em;
  font-size: 1.2em;
  background-color: #fbf4f4;
}
#search-icon {
  position: absolute;
  font-size: 1.5em;
  overflow: visible;
  margin-left: -1.55em;
  margin-top: 0.36em;
  color: $secondary-color;
  border: none;
  background: none;
}

.alert {
  position: relative;
  z-index: 5;
}
